# Data Manipulation Studio

For this studio, we will revisit our California farmers looking for advice on growing pumpkins and the same [pumpkins dataset](https://www.kaggle.com/usda/a-year-of-pumpkin-prices) as provided by the U.S. Department of Agriculture. You may have to clean data in the process of data manipulation, so feel free to pull up your notebook from the last class's studio.

We will now be focusing our attention on a different region in the United States, the Northeast. When you open up the `dataset` folder, you will have 13 CSVs, including the San Francisco and Los Angeles data from the last lesson. The 13 CSVs are each a different terminal market in the United States.

## Getting Started

Import the CSVs for each of the following cities: Baltimore, Boston, New York, and Philadelphia. Set up a dataframe for each city.

In [1]:
# Import the necessary libraries and CSVs. Make some dataframes!
import pandas as pd

#baltimore_df = pd.read_csv("dataset/"filename) Richelle and Alana said they do this 

baltimore_df = pd.read_csv('dataset/baltimore_9-24-2016_9-30-2017.csv')
alt_df = pd.read_csv('dataset/atlanta_9-24-2016_9-30-2017.csv')
boston_df = pd.read_csv('dataset/boston_9-24-2016_9-30-2017.csv')
chicago_df = pd.read_csv('dataset/chicago_9-24-2016_9-30-2017.csv')
columbia_df = pd.read_csv('dataset/columbia_9-24-2016_9-30-2017.csv')
dallas_df  = pd.read_csv('dataset/dallas_9-24-2016_9-30-2017.csv')
detroit_df = pd.read_csv('dataset/detroit_9-24-2016_9-30-2017.csv')
la_df = pd.read_csv('dataset/los-angeles_9-24-2016_9-30-2017.csv')
miami_df = pd.read_csv('dataset/miami_9-24-2016_9-30-2017.csv')
ny_df = pd.read_csv('dataset/new-york_9-24-2016_9-30-2017.csv')
philly_df = pd.read_csv('dataset/philadelphia_9-24-2016_9-30-2017.csv')
sf_df = pd.read_csv('dataset/san-fransisco_9-24-2016_9-30-2017.csv')
stl_df = pd.read_csv('dataset/st-louis_9-24-2016_9-30-2017.csv')

philly_df
stl_df

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Grade,Date,Low Price,High Price,...,Condition,Appearance,Storage,Crop,Repack,Trans Mode,Offerings,Market Tone,Price Comment,Comments
0,PUMPKINS,ST. LOUIS,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,09/26/2016,105.00,105.00,...,NaN,NaN,NaN,NaN,N,NaN,NaN,LOWER.,NaN,NaN
1,PUMPKINS,ST. LOUIS,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,09/26/2016,105.00,105.00,...,NaN,NaN,NaN,NaN,N,NaN,NaN,LOWER.,NaN,NaN
2,PUMPKINS,ST. LOUIS,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,09/27/2016,105.00,105.00,...,NaN,NaN,NaN,NaN,N,NaN,NaN,STEADY.,NaN,NaN
3,PUMPKINS,ST. LOUIS,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,09/27/2016,105.00,105.00,...,NaN,NaN,NaN,NaN,N,NaN,NaN,STEADY.,NaN,NaN
4,PUMPKINS,ST. LOUIS,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,09/28/2016,105.00,105.00,...,NaN,NaN,NaN,NaN,N,NaN,NaN,ABOUT STEADY.,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,PUMPKINS,ST. LOUIS,NaN,22 lb cartons,MINIATURE,FLAT TYPE,NaN,09/30/2016,14.75,14.75,...,NaN,NaN,NaN,NaN,N,NaN,NaN,LOWER.,NaN,NaN
99,PUMPKINS,ST. LOUIS,NaN,36 inch bins,MINIATURE,ROUND TYPE,NaN,09/26/2016,275.00,275.00,...,NaN,NaN,NaN,NaN,N,NaN,NaN,LOWER.,NaN,NaN
100,PUMPKINS,ST. LOUIS,NaN,36 inch bins,MINIATURE,ROUND TYPE,NaN,09/27/2016,275.00,275.00,...,NaN,NaN,NaN,NaN,N,NaN,NaN,STEADY.,NaN,NaN
101,PUMPKINS,ST. LOUIS,NaN,36 inch bins,MINIATURE,ROUND TYPE,NaN,09/28/2016,275.00,275.00,...,NaN,NaN,NaN,NaN,N,NaN,NaN,ABOUT STEADY.,NaN,NaN
102,PUMPKINS,ST. LOUIS,NaN,36 inch bins,MINIATURE,ROUND TYPE,NaN,09/29/2016,275.00,275.00,...,NaN,NaN,NaN,NaN,N,NaN,NaN,"MINIATURE LOWER, OTHERS STEADY.",NaN,NaN

In [4]:
northeast = pd.concat ([baltimore_df, boston_df, philly_df, ny_df], ignore_index = True)
northeast

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Grade,Date,Low Price,High Price,...,Color,Environment,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode
0,PUMPKINS,BALTIMORE,NaN,24 inch bins,NaN,NaN,NaN,04/29/2017,270,280.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E,NaN
1,PUMPKINS,BALTIMORE,NaN,24 inch bins,NaN,NaN,NaN,05/06/2017,270,280.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E,NaN
2,PUMPKINS,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,160.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,PUMPKINS,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,160.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,PUMPKINS,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,11/05/2016,90,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
669,PUMPKINS,NEW YORK,NaN,bushel cartons,MINIATURE,NaN,NaN,09/09/2017,32,32.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
670,PUMPKINS,NEW YORK,NaN,1 1/9 bushel crates,MINIATURE,ROUND TYPE,NaN,10/08/2016,18,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
671,PUMPKINS,NEW YORK,NaN,1 1/9 bushel crates,MINIATURE,ROUND TYPE,NaN,10/08/2016,18,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
672,PUMPKINS,NEW YORK,NaN,1 1/9 bushel crates,MINIATURE,ROUND TYPE,NaN,10/15/2016,18,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
673,PUMPKINS,NEW YORK,NaN,1 1/9 bushel crates,MINIATURE,ROUND TYPE,NaN,10/15/2016,18,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

## Clean Your Data

In the last lesson, we cleaned the data to related to San Francisco. Pull up your notebook from the last lesson and use your cleaning skills to clean the dataframes as necessary.

In [5]:
# Clean your data here!
northeast.dropna(axis = 1, how = 'all')

,Commodity Name,City Name,Package,Variety,Sub Variety,Date,Low Price,High Price,Mostly Low,Mostly High,Origin,Origin District,Item Size,Color,Unit of Sale,Repack
0,PUMPKINS,BALTIMORE,24 inch bins,NaN,NaN,04/29/2017,270,280.0,270,280.0,NaN,NaN,lge,NaN,NaN,E
1,PUMPKINS,BALTIMORE,24 inch bins,NaN,NaN,05/06/2017,270,280.0,270,280.0,NaN,NaN,lge,NaN,NaN,E
2,PUMPKINS,BALTIMORE,24 inch bins,HOWDEN TYPE,NaN,09/24/2016,160,160.0,160,160.0,DELAWARE,NaN,med,NaN,NaN,N
3,PUMPKINS,BALTIMORE,24 inch bins,HOWDEN TYPE,NaN,09/24/2016,160,160.0,160,160.0,VIRGINIA,NaN,med,NaN,NaN,N
4,PUMPKINS,BALTIMORE,24 inch bins,HOWDEN TYPE,NaN,11/05/2016,90,100.0,90,100.0,MARYLAND,NaN,lge,NaN,NaN,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
669,PUMPKINS,NEW YORK,bushel cartons,MINIATURE,NaN,09/09/2017,32,32.0,32,32.0,OHIO,NaN,sml,NaN,NaN,N
670,PUMPKINS,NEW YORK,1 1/9 bushel crates,MINIATURE,ROUND TYPE,10/08/2016,18,18.0,18,18.0,NEW YORK,WESTERN SECTION,med,NaN,NaN,N
671,PUMPKINS,NEW YORK,1 1/9 bushel crates,MINIATURE,ROUND TYPE,10/08/2016,18,18.0,18,18.0,NEW YORK,WESTERN SECTION,sml,NaN,NaN,N
672,PUMPKINS,NEW YORK,1 1/9 bushel crates,MINIATURE,ROUND TYPE,10/15/2016,18,18.0,18,18.0,NEW YORK,WESTERN SECTION,med,NaN,NaN,N
673,PUMPKINS,NEW YORK,1 1/9 bushel crates,MINIATURE,ROUND TYPE,10/15/2016,18,18.0,18,18.0,NEW YORK,WESTERN SECTION,sml,NaN,NaN,N

In [ ]:
northeast.info()

## Combine Your Data

Now that you have four clean sets of data, combine all four into one dataframe that represents the entire Northeast region.

In [ ]:
# Combine the four dataframes into one!


#if its defaulting to row then use axis to get columns instead

## Answer Some Questions

Use `groupby()` and `agg()` to answer the following two questions:

1. What is the mean low and high prices for each type of unit of sale in the Northeast region? In the last lesson, we learned that a unit of sale could be something like a bin or individually. 
2. What is the average number of pumpkins for each variety that came into terminal markets for the year by region? Pumpkin varieties include Howden and Fairytale pumpkins.

In [10]:
# Put your code here to find the mean low and high prices in the Northeast region for each type of unit of sale.
northeast ['Unit of Sale'].dropna().value_counts()

PER BIN       71
EACH          24
SHELLACKED    11
Name: Unit of Sale, dtype: int64

In [9]:
northeast [(northeast['Unit of Sale'] == 'PER BIN')].describe()

,Type,Grade,Low Price,High Price,Mostly Low,Mostly High,Environment,Quality,Condition,Appearance,Storage,Crop,Trans Mode
count,0.0,0.0,71.000000,71.000000,71.000000,71.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,NaN,NaN,185.845070,206.619718,193.521127,204.859155,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,44.529171,48.342341,47.767251,48.967714,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,120.000000,140.000000,120.000000,140.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,160.000000,180.000000,160.000000,175.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,175.000000,200.000000,185.000000,200.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,200.000000,225.000000,210.000000,225.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,300.000000,300.000000,300.000000,300.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
northeast.groupby('Unit of Sale').agg({'Low Price':'mean'})
northeast

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Grade,Date,Low Price,High Price,...,Color,Environment,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode
0,PUMPKINS,BALTIMORE,NaN,24 inch bins,NaN,NaN,NaN,04/29/2017,270,280.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E,NaN
1,PUMPKINS,BALTIMORE,NaN,24 inch bins,NaN,NaN,NaN,05/06/2017,270,280.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E,NaN
2,PUMPKINS,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,160.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,PUMPKINS,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,160.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,PUMPKINS,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,11/05/2016,90,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
669,PUMPKINS,NEW YORK,NaN,bushel cartons,MINIATURE,NaN,NaN,09/09/2017,32,32.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
670,PUMPKINS,NEW YORK,NaN,1 1/9 bushel crates,MINIATURE,ROUND TYPE,NaN,10/08/2016,18,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
671,PUMPKINS,NEW YORK,NaN,1 1/9 bushel crates,MINIATURE,ROUND TYPE,NaN,10/08/2016,18,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
672,PUMPKINS,NEW YORK,NaN,1 1/9 bushel crates,MINIATURE,ROUND TYPE,NaN,10/15/2016,18,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
673,PUMPKINS,NEW YORK,NaN,1 1/9 bushel crates,MINIATURE,ROUND TYPE,NaN,10/15/2016,18,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

In [14]:
# Put your code here to find the average number of pumpkins coming into terminal markets of each variety.
northeast.groupby('Variety').describe()

                          Type                              Grade       ...  \
                         count mean std min 25% 50% 75% max count mean  ...
Variety                                                                 ...
BIG MACK TYPE              0.0  NaN NaN NaN NaN NaN NaN NaN   0.0  NaN  ...
BLUE TYPE                  0.0  NaN NaN NaN NaN NaN NaN NaN   0.0  NaN  ...
CINDERELLA                 0.0  NaN NaN NaN NaN NaN NaN NaN   0.0  NaN  ...
FAIRYTALE                  0.0  NaN NaN NaN NaN NaN NaN NaN   0.0  NaN  ...
HOWDEN TYPE                0.0  NaN NaN NaN NaN NaN NaN NaN   0.0  NaN  ...
HOWDEN WHITE TYPE          0.0  NaN NaN NaN NaN NaN NaN NaN   0.0  NaN  ...
KNUCKLE HEAD               0.0  NaN NaN NaN NaN NaN NaN NaN   0.0  NaN  ...
MINIATURE                  0.0  NaN NaN NaN NaN NaN NaN NaN   0.0  NaN  ...
MIXED HEIRLOOM VARIETIES   0.0  NaN NaN NaN NaN NaN NaN NaN   0.0  NaN  ...
PIE TYPE                   0.0  NaN NaN NaN NaN NaN NaN NaN   0.0  NaN  ...

                         Crop     Trans Mode
                          75% max      count mean std min 25% 50% 75% max
Variety
BIG MACK TYPE             NaN NaN        0.0  NaN NaN NaN NaN NaN NaN NaN
BLUE TYPE                 NaN NaN        0.0  NaN NaN NaN NaN NaN NaN NaN
CINDERELLA                NaN NaN        0.0  NaN NaN NaN NaN NaN NaN NaN
FAIRYTALE                 NaN NaN        0.0  NaN NaN NaN NaN NaN NaN NaN
HOWDEN TYPE               NaN NaN        0.0  NaN NaN NaN NaN NaN NaN NaN
HOWDEN WHITE TYPE         NaN NaN        0.0  NaN NaN NaN NaN NaN NaN NaN
KNUCKLE HEAD              NaN NaN        0.0  NaN NaN NaN NaN NaN NaN NaN
MINIATURE                 NaN NaN        0.0  NaN NaN NaN NaN NaN NaN NaN
MIXED HEIRLOOM VARIETIES  NaN NaN        0.0  NaN NaN NaN NaN NaN NaN NaN
PIE TYPE                  NaN NaN        0.0  NaN NaN NaN NaN NaN NaN NaN

[10 rows x 104 columns]

## Bonus Mission

Try answering the same questions for the Midwest (Chicago, Detroit, and St. Louis) or the Southeast (Atlanta, Columbia, and Miami) regions.

In [ ]:
# Try the bonus mission if you have time!